.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .home_link {
    font-size: 25px;
  }

  .nav_link {
    font-size: 20px;
    color: black;
    border-left: 1px dotted rgb(134, 134, 134);
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .nav_link_last {
    border-right: 1px dotted rgb(134, 134, 134);
  }

  .body_content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .con_menubar {
    /* margin-bottom: 16px; */
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid rgb(164, 164, 164);
  }

  .picture {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 200px;
    height: 225px;
  }

  .profile_card {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .main_info {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .info_list{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 18px;
  }

  .class_list{
    margin-left: 30px;
  }
  
  .list{
    font-size: 20px;
    padding-bottom: 5px;
  }

  h4{
    margin-bottom: 20px;
  }

  .list_detail{
    margin-bottom: 0px;
  }

  .info_detail{
    width: 150px;
  }

  tr{
    font-size: 18px;
  }

  th, td{
    width: 210px;
  }


  .text-center{
    margin-right: 12px;
  }

  .d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-body-tertiary{
    /* width: 380px; */
    padding-bottom: 15px;
  }

  .notice_con{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .table th, .table td {
    padding: 10px;
    text-align: center; /* Center horizontally */
    vertical-align: middle; /* Center vertically */
    height: 55px;
  }
  .table th:nth-child(1), .table td:nth-child(1) {
    width: 15%;
  }
  .table th:nth-child(2), .table td:nth-child(2) {
    width: 70%;
  }
  .table th:nth-child(3), .table td:nth-child(3) {
    width: 15%;
  }

  .notice{
    margin-bottom: 20px;
  }

  .scrollBar {
  overflow-y: scroll;
  height: 700px;
  }

  .paging_btn{
    justify-content: space-between;
    align-items: center;
  }

  .notice_content{
    min-height: 500px;
  }

  .btns{
    margin-top: 30px;
  }

  .notice_title{
    font-size: 30px;
  }
  
  .noticeModifyBtn{
    margin-right: 10px;
  }