.card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.student-card-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: 1px solid #007bff;
}

.form-control {
    border-radius: 5px; /* 입력 필드의 모서리를 둥글게 만듭니다. */
}

.btn-block {
    border-radius: 5px; /* 버튼의 모서리를 둥글게 만듭니다. */
    margin-top: 10px;
    margin-right: 5px;
}


