.button-group {
    display: flex;
    gap: 10px; /* 버튼 간의 간격 */
    margin-top: 10px; /* 버튼 그룹과 위 요소 간의 간격 */
  }
  
  .action-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }